useDynLib(crqa, .registration = TRUE)
importFrom(Rcpp, evalCpp)

export(aRQA,
       crqa,
       drpfromts,
       lorenzattractor,
       mdDelay,
       mdFnn,
       optimizeParam,
       piecewiseRQA,
       plot_rp,
       rosslerattractor,
       simts,
       spdiags,
       theiler_exclusion,
       wincrqa,
       windowdrp)

importFrom("grDevices", dev.off, recordPlot)
importFrom("graphics", mtext, hist, matpoints, par, plot, points)
importFrom("gplots", hist2d)
importFrom("Matrix", diag, t, Matrix, sparseMatrix)
importFrom("pracma", circshift, eps, pdist2, polyfit)
importFrom("stats", sd, median, rnorm, runif, var)  
importFrom("rdist", cdist)
importFrom("tseriesChaos", mutual, false.nearest)
importFrom("methods", as, slotNames)
importFrom("utils", tail)
importFrom("future", plan, multisession, availableCores)
importFrom("furrr", future_map, furrr_options)
importFrom("dplyr", filter, mutate)
import("ggplot2")