useDynLib(crqa, .registration = TRUE)

export(crqa,
       drpfromts,
       lorenzattractor,
       mdDelay, 
       mdFnn,
       optimizeParam,
       piecewiseRQA,
       plot_rp,
       simts,
       spdiags,
       wincrqa,
       windowdrp)

importFrom("grDevices", dev.off, recordPlot)
importFrom("graphics", mtext, hist, matpoints, par, plot, points)
importFrom("gplots", hist2d)
importFrom("Matrix", diag, t, Matrix, sparseMatrix)
importFrom("pracma", circshift, eps, pdist2, polyfit)
importFrom("stats", sd, median, rnorm, runif, var)  
importFrom("rdist", cdist)
importFrom("tseriesChaos", mutual, false.nearest)
importFrom("utils", tail)
importFrom("dplyr", filter, mutate)
import("ggplot2")